#heade{
    float: right;
    
    
}
header{
    background-color: black;
    
    height:  ;
    padding: 30px;
    border: 50px;

    
}
#PA1,#PA2,#PA3{
    padding: 10px;
    border: 10PX solid gray;
    margin: auto;
    text-align: center;
}
.HEEDER{
    color: azure;
    text-align: center;
    font-family: fantasy;
    background-color: black;
    border: 15px solid gray;
    margin: 20px;
}
P{
    
    text-indent: 50px;
    font-family: sans-serif;
    
}
footer{
    color: azure;
    text-align: center;
    background-color: black;
    padding: 20px;
    border: 15px solid grey;
    margin: auto;
    }
    .images{
        text-align: center;
        border: 10px solid black;
        
    }

    
    
